body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
} 

menu{
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

address{
    font-style: normal;
}

button{
    cursor: pointer;
}

img {
    display: block;
}

.section{
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* header */

.header {
    padding: 17.5px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-container {
    display: flex;
    align-items: center;

}

.nav-direction{
    display: flex;
    align-items: center;
}


.header-link {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.headercolor {
    color: #2E2F42;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-list{
    display: none;
    gap: 40px;
}

.header-items-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.curent{
    color:#404bbf  
}


.curent::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-items-link:hover {
    color: #404bbf;
}
.header-items-link:focus {
    color: #404bbf;
}

.adress {
    font-style: normal;
    margin-left: auto;
}

.adress-list{
    display: none;
    gap:40px;
}

.adress-items-link {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-items-link:hover {
    color:#404bbf;
}

.adress-items-link:focus {
color: #404bbf;
}

.menu-header-btn{
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.mob-menu{
    padding: 24px 24px 525px 16px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #F4F4FD;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.menu-close-btn{
    display: block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover{
    background-color: #404bbf;
        border: none;
}


.menu-close-btn:fucus {
    background-color: #404bbf;
    border: none;
}

.menu-close-icon{
    fill: #2E2F42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
    fill: #ffffff;
}

.menu-nav{
    margin-bottom: auto;
}

.mob-menu-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 72px;
}

.mob-items-link {
    display: block;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-items-link:hover {
    color: #404bbf;
}

.mob-items-link:focus {
    color: #404bbf;
}

.mob-adress{
    font-style: normal;
    margin-left: auto;
}

.mob-adress-list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-adress-items-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-adress-items-link:hover {
    color: #404bbf;
}

.mob-adress-items-link:focus {
    color: #404bbf;
}

.mob-icons-div{
    margin-top: 48px;
}

.mob-icons-list{
    display: flex;
    gap: 40px;
}

.mob-icons-items {
    width: 40px;
    height: 40px;
}

.mob-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icons-link:hover {
    background-color: #404bbf;
}

.mob-icons-link:focus {
    background-color: #404bbf;
}

.mob-icons {
    fill: #f4f4fd;
}

/* header */


/* solotion */

.solution {
        flex-shrink: 0;
    background-color: #2E2F42;
    padding: 72px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

@media (min-resolution: 192dpi) and (min-width:320px){
    .solution{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob-x2.jpg), url(../images/bg-mob-x1.jpg);
    }
}

@media (min-resolution: 192dpi) and (min-width:768px) {
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tab-x2.jpg), url(../images/bg-tab-x1.jpg);
    }
}

@media (min-resolution: 192dpi) and (min-width:1158px) {
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desk-x2.jpg,), url(../images/bg-desk-x1.jpg);
    }
}

.solution-title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    max-width: 288px;
    height: 160px;
    color: #FFFFFF;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
}

.solution-btn {
    margin-right: auto;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-btn:hover {
    background-color: #404BBF;
}

.solution-btn:focus {
background-color: #404BBF;
}

/* solution */

/* quality */

.quality {
    padding: 96px 0;
}

.quality-icons{
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-quality{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.list-items{
    max-width: 100%;
}

.list-title {
    text-align: center;
    margin-bottom: 8px;
    color :#2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em
}

.list-items-text {
    color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* quality */

/* team */

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    margin-bottom: 72px;
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.list-team {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0 10px;
}


.team-items {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;    
}

.team-div{
    width: 264px;
   padding: 32px 0;
}

.team-items-title {
    text-align: center;
    margin-bottom: 8px;
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-items-text {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    margin-bottom: 8px;    
}

.team-icons-div{
    padding: 32px 0
}

.team-icons-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.teams-icons-items{
    width: 40px;
    height: 40px;
}

.team-icons-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover{
    background-color: #404bbf;
}

.team-icons-link:focus {
    background-color: #404bbf;
}

.team-icons{
    fill: #f4f4fd;
}

/* team */

/* portfolio */

.portfolio{
    padding: 96px 0 96px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 72px;
}

.portfolio-list-items{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-picture{
    flex-shrink: 0;
}

.portfolio-div-img{
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.portfolio-div-img:hover .img-text{
    transform: translateY(0%);
}

.img-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px ;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-list-items:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-card-div{
    margin-bottom: 48px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portflio-items-title {
    margin-bottom: 8px;
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-items-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* portfolio */

/* footer */

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer-div{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.logo-text-footer{
    margin-bottom: 72px;
}

.footer-logo {
color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 17.5px;
    margin-left: 80px;
}

.color {
    color: #F4F4FD;
}

.footer-text {
    max-width: 288px;
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-icons-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-left: 90px;
}

.footer-icons-list{
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-icons-items{
    width: 40px;
    height: 40px;
}
.footer-icons-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover{
    background-color: #31d0aa;
}

.footer-icons-link:focus {
    background-color: #31d0aa;
}

.footer-icons{
    fill: #f4f4fd;
}

.footer-form-title{
    margin-left: 93px;
    margin-bottom: 16px;
    width: 75px;
    height: 24px;
    color:#FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.footer-form{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-input{
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-input::placeholder{
    color: #ffffff;
}

.footer-form-btn{
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
        text-align: center;
        Font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.footer-form-icon{
    margin-left: 16px;
}

/* form */

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2E2F4266;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    width: 288px;
    min-height: 623px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover{
    background-color: #404bbf;
    border:none;
}

.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
}

.modal-close-icon{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon{
    fill: #ffffff;
}

.modal-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
    max-width: 256px;
}

.form-div{
    margin-bottom: 8px;
}

.modal-form-label{
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.input-div{
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    font-size: 16px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4D5AE5;
}

.modal-icons{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icons{
    fill: #4D5AE5;
}

.comment-div{
    margin-bottom: 16px;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-textarea:focus{
    border-color: #4D5AE5;
}

.checkbox-div{
    margin-bottom: 24px;
}

.checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-span{
    width: 16px;
    height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox-icons{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.input-checkbox:checked+.checkbox-label>.checkbox-span {
    border: none;
    fill: #F4F4FD;
    background-color: #404BBF;
}

.checkbox-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: underline;
}

.modal-btn-send{
    display:block;
    min-width: 169px;
    margin: 0 auto;
    height: 56px;
    color:#FFF;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width:768px){
    .container{
        max-width: 768px;
    }
    .header{
        padding: 25.5px 16px 0 16px;
    }

    .header-list {
        display: flex;
    }

    .adress-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .menu-header-btn{
        display: none;
    }

    .mob-menu{
        display: none;
    }

    .solution{
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tab.jpg);
    }

    .solution-title{
        max-width: 496px;
        font-size: 56px;
        margin-bottom: 36;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    .quality{
        max-width: 100%;
        padding: 96px 0;
    }

    .list-quality{
        gap: 72px 24px;
    }

    .list-items {
        width: calc((100% - 24px) / 2);
    }

    .team{
        padding: 96px 0;
    }

    .list-team{
        width: 584px;
        gap: 64px 24px;
        margin: 0 auto;
    }

    .team-items{
        width: calc((100% - 24px) / 2);
    }

    .team-div{
        width: 264px;
        padding: 32px 0;
    }

    .portfolio{
        padding: 96px 0;
    }

    .portfolio-list{
        column-gap: 24px;
        row-gap: 68px;
    }

    .portfolio-list-items{
        width: calc((100% - 24px) / 2);
    }

    .footer-div{
        width: 584px;
    }

    .footer-logo{
        margin-left: 0;
    }

    .footer-icons-text{
        margin-left: 0;
    }

    .footer-form-title{
        margin-left: 0;
    }

    .modal{
        width: 408px;
        min-height: 584px;
    }

    .modal-title{
        max-width: 360px;
    }

}

@media (min-width:1158px){
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container{
        max-width: 1158px;
        padding: 0 15px;
    }

    .logo {
        margin-right: 76px;
    }

    .header-list{
        display: flex;
        gap: 40px;
    }

    .adress-list{
        display: flex;
    }

    .solution{
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    }

    .solution-title{
        margin-bottom: 48px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    .quality{
        max-width: 100%;
        padding: 120px 0;
    }

    .quality-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .list-quality{
        gap: 24px;
    }
    
    .list-items {
        width: calc((100% - 72px) / 4);
    }

    .list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em
    }

    .list-items-text{
        font-weight: 400;
    }

    .team {
        padding: 120px 0;
    }

    .list-team{
        gap: 24px;
    }

    .team-items {
        width: calc((100% - 72px) / 4);
    }

    .portfolio {
        padding: 120px 0 120px 0;
    }

    .footer-div{
        width: 100%;
    }

    .portfolio-list{
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-list-items{
        flex-wrap: nowrap;
        width: calc((100% - 48px) / 3);
    }
    
    .footer{
        padding: 100px 0;
    }

    .footer-div{
        flex-wrap: nowrap;
    }

    .logo-text-footer {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-text{
        width: 264px;
    }

    .footer-icons-list{
        margin-bottom: 0;
    }

    .footer-icons-div {
        margin-right: 48px;
    }

    .footer-form{
        flex-wrap: nowrap;
    }

    .footer-input {
        width: 264px;
    }

    .footer-logo{
        margin-left: 0;
    }

    .footer-icons-text{
        margin-left: 0;
    }

    .footer-icons-list{
        margin-left: 0;
    }


    
}